<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <system.web>



  </system.web>

  <system.webServer>

    <rewrite>

      <rules>

       <!-- <clear /> -->

        <!-- For Example -->

        <!-- Important!!! Rule Name can't be repeated.  -->

        <rule name="Rewrite ios captureview" stopProcessing="true">

          <match url="programming/ios/auxiliary-api/captureview.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/ios/auxiliary-api/dcecameraview.html?ver=latest" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios framepackage" stopProcessing="true">

          <match url="programming/ios/auxiliary-api/framepackage.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/ios/auxiliary-api/dceframe.html?ver=latest" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios basic settings" stopProcessing="true">

          <match url="programming/ios/api/basic-setting/basic-setting.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/ios/primary-api/camera-enhancer.html?ver=latest?ver=latest" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios zoom focus" stopProcessing="true">

          <match url="programming/ios/api/zoom-setting/zoom-focus.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/ios/primary-api/camera-enhancer.html?ver=latest" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios filter" stopProcessing="true">

          <match url="programming/ios/api/filter-setting/filter.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/ios/primary-api/camera-enhancer.html?ver=latest" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android cameraview" stopProcessing="true">

          <match url="programming/android/auxiliary-api/cameraview.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/android/auxiliary-api/dcecameraview.html?ver=latest" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android frame" stopProcessing="true">

          <match url="programming/android/auxiliary-api/frame.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/android/auxiliary-api/dceframe.html?ver=latest" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android filter" stopProcessing="true">

          <match url="programming/android/api/filter-setting/filter.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/android/primary-api/camera-enhancer.html?ver=latest" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android focus" stopProcessing="true">

          <match url="programming/android/api/zoom-setting/zoom-focus.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/android/primary-api/camera-enhancer.html?ver=latest" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android basic" stopProcessing="true">

          <match url="programming/android/api/basic-setting/basic-setting.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/android/primary-api/camera-enhancer.html?ver=latest" appendQueryString="true"  />

        </rule>

        <!--The empty history pages-->
        <!--zoom & focus-->
        <rule name="Rewrite android primary zoom" stopProcessing="true">

          <match url="programming/android/primary-api/zoom-focus.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/android/primary-api/camera-enhancer.html?ver=latest#advanced-camera-control-methods" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios primary zoom" stopProcessing="true">

          <match url="programming/ios/primary-api/zoom-focus.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/ios/primary-api/camera-enhancer.html?ver=latest#advanced-camera-control-methods" appendQueryString="true"  />

        </rule>

        <!--Preprocess-->
        <rule name="Rewrite android preprocess" stopProcessing="true">

          <match url="programming/android/primary-api/preprocess.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/android/primary-api/camera-enhancer.html?ver=latest#enhanced-features" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios preprocess" stopProcessing="true">

          <match url="programming/ios/primary-api/preprocess.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/ios/primary-api/camera-enhancer.html?ver=latest#enhanced-features" appendQueryString="true"  />

        </rule>

        <!--camera-->
        <rule name="Rewrite android camera" stopProcessing="true">

          <match url="programming/android/primary-api/camera.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/android/primary-api/camera-enhancer.html?ver=latest#basic-camera-control-methods" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios camera" stopProcessing="true">

          <match url="programming/ios/primary-api/camera.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/ios/primary-api/camera-enhancer.html?ver=latest#basic-camera-control-methods" appendQueryString="true"  />

        </rule>

        <!--initialization-->
        <rule name="Rewrite android initialization" stopProcessing="true">

          <match url="programming/android/primary-api/initialization.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/android/primary-api/camera-enhancer.html?ver=latest#initialization" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios initialization" stopProcessing="true">

          <match url="programming/ios/primary-api/initialization.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/ios/primary-api/camera-enhancer.html?ver=latest#initialization" appendQueryString="true"  />

        </rule>

        <!--iOS dls-->

        <rule name="Rewrite ios dlsconnection" stopProcessing="true">

          <match url="programming/ios/auxiliary-api/dlsconnection.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="programming/ios/primary-api/camera-enhancer.html?ver=latest#initlicense" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios torchlistener" stopProcessing="true">

          <match url="programming/ios/auxiliary-api/protocol-torchlistener.html?ver=latest" ignoreCase="true" negate="false" />

          <action type="Redirect" url="programming/ios/primary-api/camera-enhancer.html" appendQueryString="true"  />

        </rule>

      </rules>

    </rewrite>

  </system.webServer>

</configuration>