<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <system.web>



  </system.web>

  <system.webServer>

    <rewrite>

      <rules>

       <!-- <clear /> -->

        <!-- For Example -->

        <!-- Important!!! Rule Name can't be repeated.  -->

        <rule name="Rewrite ios captureview" stopProcessing="true">

          <match url="https://www.dynamsoft.com/camera-enhancer/docs/programming/ios/auxiliary-api/captureview.html" />

          <action type="Rewrite" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/ios/auxiliary-api/dcecameraview.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios framepackage" stopProcessing="true">

          <match url="https://www.dynamsoft.com/camera-enhancer/docs/programming/ios/auxiliary-api/framepackage.html" />

          <action type="Rewrite" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/ios/auxiliary-api/dceframe.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios basic settings" stopProcessing="true">

          <match url="https://www.dynamsoft.com/camera-enhancer/docs/programming/ios/api/basic-setting/basic-setting.html" />

          <action type="Rewrite" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/ios/primary-api/camera-enhancer.html?ver=latest" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios zoom focus" stopProcessing="true">

          <match url="https://www.dynamsoft.com/camera-enhancer/docs/programming/ios/api/zoom-setting/zoom-focus.html" />

          <action type="Rewrite" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/ios/primary-api/camera-enhancer.html?ver=latest" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios filter" stopProcessing="true">

          <match url="https://www.dynamsoft.com/camera-enhancer/docs/programming/ios/api/filter-setting/filter.html" />

          <action type="Rewrite" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/ios/primary-api/camera-enhancer.html?ver=latest" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android cameraview" stopProcessing="true">

          <match url="https://www.dynamsoft.com/camera-enhancer/docs/programming/android/auxiliary-api/cameraview.html" />

          <action type="Rewrite" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/android/auxiliary-api/dcecameraview.html?ver=latest" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android frame" stopProcessing="true">

          <match url="https://www.dynamsoft.com/camera-enhancer/docs/programming/android/auxiliary-api/frame.html" />

          <action type="Rewrite" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/android/auxiliary-api/dceframe.html?ver=latest" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android filter" stopProcessing="true">

          <match url="https://www.dynamsoft.com/camera-enhancer/docs/programming/android/api/filter-setting/filter.html" />

          <action type="Rewrite" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/android/primary-api/camera-enhancer.html?ver=latest" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android focus" stopProcessing="true">

          <match url="https://www.dynamsoft.com/camera-enhancer/docs/programming/android/api/zoom-setting/zoom-focus.html" />

          <action type="Rewrite" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/android/primary-api/camera-enhancer.html?ver=latest" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android basic" stopProcessing="true">

          <match url="https://www.dynamsoft.com/camera-enhancer/docs/programming/android/api/basic-setting/basic-setting.html" />

          <action type="Rewrite" url="https://www.dynamsoft.com/camera-enhancer/docs/programming/android/primary-api/camera-enhancer.html?ver=latest" appendQueryString="true"  />

        </rule>

      </rules>

    </rewrite>

  </system.webServer>

</configuration>