<li class="category">DEVELOPMENT</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-javascript.html" -%}
<li><a href="{{ site.android }}" class="otherLinkColour">Android</a>
    <ul>
        <li><a style="cursor:pointer;color:#3c3c3c" href="{{ site.android-guide }}guide.html" class="otherLinkColour">User Guide</a>
        </li>
        <li><a style="cursor:pointer;color:#3c3c3c" href="{{ site.android }}api-reference.html" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.android-api }}camera-enhancer.html" class="otherLinkColour">CameraEnhancer Class</a></li>
                <li><a class="otherLinkColour">Auxiliary Classes</a>
                    <ul>
                        <li><a href="{{ site.android-api-auxiliary }}dceframe.html"  class="otherLinkColour">DCEFrame</a></li>
                        <li><a href="{{ site.android-api-auxiliary }}dcecameraview.html" class="otherLinkColour">DCECameraView</a></li>
                        <li><a href="{{ site.android-api-auxiliary }}dcefeedback.html" class="otherLinkColour">DCEFeedback</a></li>
                        <li><a href="{{ site.android-api-auxiliary }}region-definition.html" class="otherLinkColour">RegionDefinition</a></li>
                        <li><a href="{{ site.android-api-auxiliary }}camera-enhancer-exception.html" class="otherLinkColour">CameraEnhancerException</a></li>
                    </ul>
                </li>
                <li><a class="otherLinkColour">Interfaces</a>
                    <ul>
                        <li><a href="{{ site.android-api-auxiliary }}interface-dceframelistener.html"  class="otherLinkColour">DCEFrameListener</a></li>
                        <li><a href="{{ site.android-api-auxiliary }}interface-dcephotolistener.html" class="otherLinkColour">DCEPhotoListener</a></li>
                        <li><a href="{{ site.android-api-auxiliary }}interface-licenselistener.html" class="otherLinkColour">DCELicenseVerificationListener</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a style="cursor:pointer;color:#3c3c3c" href="{{ site.android-release-note }}index.html" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.android-release-note }}release-notes-2.x.html" class="otherLinkColour">Version 2.x</a></li>
                <li><a href="{{ site.android-release-note }}release-notes-1.x.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>
<li><a href="{{ site.ios }}" class="otherLinkColour">iOS</a>
    <ul>
        <li><a style="cursor:pointer;color:#3c3c3c" href="{{ site.ios-guide }}guide.html" class="otherLinkColour">User Guide</a>
        </li>
        <li><a style="cursor:pointer;color:#3c3c3c" href="{{ site.ios }}api-reference.html" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.ios-api }}camera-enhancer.html" class="otherLinkColour">DynamsoftCameraEnhancer Class</a></li>
                <li><a class="otherLinkColour">Auxiliary Classes</a>
                    <ul>
                        <li><a href="{{ site.ios-api-auxiliary }}dceframe.html"  class="otherLinkColour">DCEFrame</a></li>
                        <li><a href="{{ site.ios-api-auxiliary }}dcecameraview.html" class="otherLinkColour">DCECameraView</a></li>
                        <li><a href="{{ site.ios-api-auxiliary }}dcefeedback.html" class="otherLinkColour">DCEFeedback</a></li>
                        <li><a href="{{ site.ios-api-auxiliary }}region-definition.html" class="otherLinkColour">iRegionDefinition</a></li>
                    </ul>
                </li>
                <li><a class="otherLinkColour">Protocols</a>
                    <ul>
                        <li><a href="{{ site.ios-api-auxiliary }}protocol-dceframelistener.html"  class="otherLinkColour">DCEFrameListener</a></li>
                        <li><a href="{{ site.ios-api-auxiliary }}protocol-dcephotolistener.html" class="otherLinkColour">DCEPhotoListener</a></li>
                        <li><a href="{{ site.ios-api-auxiliary }}protocol-licenselistener.html" class="otherLinkColour">DCELicenseVerificationListener</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a style="cursor:pointer;color:#3c3c3c" href="{{ site.ios-release-note }}index.html" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.ios-release-note }}release-notes-2.x.html" class="otherLinkColour">Version 2.x</a></li>
                <li><a href="{{ site.ios-release-note }}release-notes-1.x.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>
