<li><a href="{{ site.parameters }}" class="otherLinkColour">Parameters</a>
    <ul>
        <li><a href="{{ site.reference }}" class="otherLinkColour">Reference</a></li>
        <li><a href="{{ site.enumerations }}" class="otherLinkColour">Enumerations</a>
            <ul>
                <li><a href="{{ site.enumerations }}errorcode.html" class="otherLinkColour">EnumErrorCode</a></li>
                <li><a href="{{ site.enumerations }}enum-frame-quality.html" class="otherLinkColour">EnumFrameQuality</a></li>
                <li><a href="{{ site.enumerations }}enum-camera-state.html" class="otherLinkColour">EnumCameraState</a></li>
                <li><a href="{{ site.enumerations }}enum-enhancer-features.html" class="otherLinkColour">EnumEnhancerFeatures</a></li>
                <li><a href="{{ site.enumerations }}enum-resolution.html" class="otherLinkColour">EnumResolution</a></li>
            </ul>
        </li>
    </ul>
</li>