<!-- {%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-introduction.html" -%}
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming.html" -%}
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-useful.html" -%} -->
<li lang="objectivec-swift">
    <a href="{{ site.oc }}" class="otherLinkColour">DCE-iOS Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-oc.html" -%}
<li lang="android">
    <a href="{{ site.android }}" class="otherLinkColour">DCE-Android Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-android.html" -%}
<li lang="flutter">
    <a href="{{ site.flutter }}" class="otherLinkColour">DCE-Flutter Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-flutter.html" -%}
<li lang="react-native">
    <a href="{{ site.react_native }}" class="otherLinkColour">DCE-React Native Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-react-native.html" -%}
<li lang="cordova">
    <a href="{{ site.cordova }}" class="otherLinkColour">DCE-Cordova Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-cordova.html" -%}
<li lang="xamarin">
    <a href="{{ site.xamarin }}" class="otherLinkColour">DCE-Xamarin.Forms Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-xamarin.html" -%}