<li><a href="{{ site.parameters }}" class="otherLinkColour">Parameters</a>
    <ul>
        <li><a href="{{ site.reference }}" class="otherLinkColour">Reference</a></li>
        <li><a href="{{ site.enumerations }}" class="otherLinkColour">Enumerations</a></li>
        <ul>
            <li><a href="{{ site.enumerations }}dmchargeway.html" class="otherLinkColour">EnumDMChargeWay</a></li>
            <li><a href="{{ site.enumerations }}dmuuidgeneration.html" class="otherLinkColour">EnumCameraDMUUIDGenerationMethod</a></li>
            <li><a href="{{ site.enumerations }}enumproduct.html" class="otherLinkColour">EnumProduct</a></li>
            <li><a href="{{ site.enumerations }}errorcode.html" class="otherLinkColour">EnumDCEErrorCode</a></li>
        </ul>
    </ul>
</li>