<li class="category">DEVELOPMENT</li>
<li>
    <a target="_blank" href="{{ site.js }}" class="otherLinkColour refreshLink">Web (Client Side)</a></li>
<li>
    <a class="otherLinkColour">Mobile</a>
    <ul>
        <li><a target="_blank" href="{{ site.android }}" class="otherLinkColour refreshLink">Android</a></li>
        <li><a target="_blank" href="{{ site.ios }}" class="otherLinkColour refreshLink">iOS</a></li>
    </ul>
</li>


<!-- <li><a href="{{ site.programming }}" class="otherLinkColour">Programming</a>
    <ul>
        {%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-javascript.html" -%}
        {%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-android.html" -%}
        {%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-oc.html" -%}             
    </ul>
</li> -->
