<li lang="android" class="category">DEVELOPMENT ON DCE ANDROID v3.x</li>
<li lang="android" ><a style="cursor:pointer;color:#3c3c3c">User Guide</a>
    <ul lang="android">
        <li lang="android"><a href="{{ site.android-guide }}guide.html" class="otherLinkColour">Get Started</a></li>
        <li lang="android"><a style="cursor:pointer;color:#3c3c3c">Explore Features</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.android-guide }}features.html" class="otherLinkColour">Advanced Features</a></li>
                <li lang="android"><a href="{{ site.android-guide }}scan-region.html" class="otherLinkColour">Set a Scan Region</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="android"><a href="{{ site.android }}api-reference.html" class="otherLinkColour">API references</a>
    <ul lang="android">
        <li lang="android"><a style="cursor:pointer;color:#3c3c3c">Primary Class</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.android-api }}camera-enhancer.html" class="otherLinkColour">CameraEnhancer</a></li>
            </ul>
        </li>
        <li lang="android"><a style="cursor:pointer;color:#3c3c3c">View Classes</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.android-api-auxiliary }}dcecameraview.html" class="otherLinkColour">DCECameraView</a></li>
                <li lang="android"><a href="{{ site.android-api-auxiliary }}dceimageeditorview.html" class="otherLinkColour">DCEImageEditorView</a></li>
            </ul>
        </li>
        <li lang="android"><a style="cursor:pointer;color:#3c3c3c">Auxiliary Classes</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.android-api-auxiliary }}camera-enhancer-exception.html" class="otherLinkColour">CameraEnhancerException</a></li>
                <li lang="android"><a href="{{ site.android-api-auxiliary }}drawingitem.html" class="otherLinkColour">DrawingItem</a></li>
                <li lang="android"><a href="{{ site.android-api-auxiliary }}drawingitem-line.html" class="otherLinkColour">LineDrawingItem</a></li>
                <li lang="android"><a href="{{ site.android-api-auxiliary }}drawingitem-quad.html" class="otherLinkColour">QuadDrawingItem</a></li>
                <li lang="android"><a href="{{ site.android-api-auxiliary }}drawingitem-rect.html" class="otherLinkColour">RectDrawingItem</a></li>
                <li lang="android"><a href="{{ site.android-api-auxiliary }}drawingitem-text.html" class="otherLinkColour">TextDrawingItem</a></li>
                <li lang="android"><a href="{{ site.android-api-auxiliary }}drawinglayer.html" class="otherLinkColour">DrawingLayer</a></li>
                <li lang="android"><a href="{{ site.android-api-auxiliary }}drawingstyle.html" class="otherLinkColour">DrawingStyle</a></li>
                <li lang="android"><a href="{{ site.android-api-auxiliary }}drawingstylemanager.html" class="otherLinkColour">DrawingStyleManager</a></li>
                <li lang="android"><a href="{{ site.android-api-auxiliary }}dcefeedback.html" class="otherLinkColour">DCEFeedback</a></li>
            </ul>
        </li>
        <li lang="android"><a style="cursor:pointer;color:#3c3c3c">Interfaces</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.android-api-auxiliary }}interface-dcecamerastatelistener.html" class="otherLinkColour">CameraStateListener</a></li>
                <li lang="android"><a href="{{ site.android-api-auxiliary }}interface-dcephotolistener.html" class="otherLinkColour">PhotoListener</a></li>
                <li lang="android"><a href="{{ site.android-api-auxiliary }}interface-dceframelistener.html" class="otherLinkColour">DCEFrameListener</a></li>
                <li lang="android"><a href="{{ site.android-api-auxiliary }}interface-licenselistener.html" class="otherLinkColour">DCELicenseVerificationListener</a></li>
            </ul>
        </li>
        <li lang="android" ><a style="cursor:pointer;color:#3c3c3c">Enumerations</a>
            <ul lang="android" >
                <li lang="android" ><a href="{{ site.dcv-enum }}camera-position.html?lang=android" class="otherLinkColour">EnumCameraPosition</a></li>
                <li lang="android" ><a href="{{ site.dcv-enum }}camera-state.html?lang=android" class="otherLinkColour">EnumCameraState</a></li>
                <li lang="android" ><a href="{{ site.dcv-enum }}drawing-item-media-type.html?lang=android" class="otherLinkColour">EnumDrawingItemMediaType</a></li>
                <li lang="android" ><a href="{{ site.dcv-enum }}drawing-item-state.html?lang=android" class="otherLinkColour">EnumDrawingItemState</a></li>
                <li lang="android" ><a href="{{ site.dcv-enum }}enhanced-features.html?lang=android" class="otherLinkColour">EnumEnhancerFeatures</a></li>
                <li lang="android" ><a href="{{ site.dcv-enum }}focus-mode.html?lang=android" class="otherLinkColour">EnumFocusMode</a></li>
                <li lang="android" ><a href="{{ site.dcv-enum }}resolution.html?lang=android" class="otherLinkColour">EnumResolution</a></li>
            </ul>
        </li>
    </ul>
</li>

<li lang="android" class="category">USEFUL RESOURCES</li>
<li lang="android"><a href="{{ site.android }}upgrade-instructions.html" class="otherLinkColour">How to Upgrade</a></li>
<li lang="android"><a href="{{ site.android-release-note }}" class="otherLinkColour">Release Notes</a>
    <ul lang="android">
        <li lang="android"><a href="{{ site.android-release-note }}release-notes-3.x.html" class="otherLinkColour">Version 3.x</a></li>
        <li lang="android"><a href="{{ site.android-release-note }}release-notes-2.x.html" class="otherLinkColour">Version 2.x</a></li>
        <li lang="android"><a href="{{ site.android-release-note }}release-notes-1.x.html" class="otherLinkColour">Version 1.x</a></li>
    </ul>
</li>
