<li><a href="{{ site.android }}" class="otherLinkColour">Java (Android)</a>
    <ul>
        {%- if page.url contains '/android/' or page.url contains '/android-v' -%}
        <li><a href="{{ site.android-guide }}guide.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.android-class }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.android-class }}" class="otherLinkColour">Class</a>
                    <ul>
                        <li><a href="{{ site.android-cameraenhancer }}initialization.html" class="otherLinkColour">CameraEnhancer</a>
                            <ul>
                                <li><a href="{{ site.android-cameraenhancer }}initialization.html" class="otherLinkColour">Initialization</a></li>
                                <li><a href="{{ site.android-cameraenhancer }}basic-setting.html" class="otherLinkColour">Regular Camera Methods</a></li>
                                <li><a href="{{ site.android-cameraenhancer }}filter.html" class="otherLinkColour">Filter Methods</a></li>
                                <li><a href="{{ site.android-cameraenhancer }}zoom-focus.html" class="otherLinkColour">Zoom & Focus Methods</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.android-class }}lts-connection.html" class="otherLinkColour">DMLTSConnectionParameters</a></li>
                        <li><a href="{{ site.android-class }}frame.html" class="otherLinkColour">Frame</a></li>
                        <li><a href="{{ site.android-class }}hardwareutil.html" class="otherLinkColour">HardwareUtil</a></li>
                        <li><a href="{{ site.android-class }}cameraview.html" class="otherLinkColour">CameraView</a></li>
                        <li><a href="{{ site.android-class }}camera-enhancer-exception.html" class="otherLinkColour">CameraEnhancerException</a></li>
                    </ul>
                </li>
                <!--<li><a href="{{ site.android-interface }}" class="otherLinkColour">Interface</a></li>-->
            </ul>
        </li>
        <li><a href="{{ site.android-release-note }}release-note.html" class="otherLinkColour">Release Notes</a></li>
        {%- endif -%}
    </ul>
</li>
