<li lang="android"><a href="{{ site.android }}" class="otherLinkColour">Java (Android)</a>
    <ul lang="android">
        <li lang="android"><a href="{{ site.android-guide }}guide.html" class="otherLinkColour">User Guide</a></li>
        <li lang="android"><a href="{{ site.android }}api-reference.html" class="otherLinkColour">API references</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.android-api }}camera-enhancer.html" class="otherLinkColour">CameraEnhancer Class</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.android-api }}initialization.html" class="otherLinkColour">Initialization</a></li>                                
                        <li lang="android"><a href="{{ site.android-api }}preprocess.html" class="otherLinkColour">Frame Processing Methods</a></li>
                        <li lang="android"><a href="{{ site.android-api }}camera.html" class="otherLinkColour">Regular Camera Methods</a></li>
                        <li lang="android"><a href="{{ site.android-api }}zoom-focus.html" class="otherLinkColour">Focus & Zoom Methods</a></li>               
                    </ul>
                </li>
                <li lang="android"><a style="cursor:pointer;color:#3c3c3c">Auxiliary Classes</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.android-api-auxiliary }}dlsconnection.html" class="otherLinkColour">DMDLSConnectionParameters</a></li>
                        <li lang="android"><a href="{{ site.android-api-auxiliary }}dceframe.html" class="otherLinkColour">Frame</a></li>
                        <li lang="android"><a href="{{ site.android-api-auxiliary }}hardwareutil.html" class="otherLinkColour">HardwareUtil</a></li>
                        <li lang="android"><a href="{{ site.android-api-auxiliary }}dcecameraview.html" class="otherLinkColour">CameraView</a></li>
                        <li lang="android"><a href="{{ site.android-api-auxiliary }}camera-enhancer-exception.html" class="otherLinkColour">CameraEnhancerException</a></li>
                    </ul>
                </li>
                <li lang="android"><a style="cursor:pointer;color:#3c3c3c">Interfaces</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.android-api-auxiliary }}interface-dceframelistener.html" class="otherLinkColour">CameraListener</a></li>
                        <li lang="android"><a href="{{ site.android-api-auxiliary }}interface-torchlistener.html" class="otherLinkColour">TorchListener</a></li>
                        <li lang="android"><a href="{{ site.android-api-auxiliary }}interface-licenselistener.html" class="otherLinkColour">CameraDLSLicenseVerificationListener</a></li>
                    </ul>
                </li>
                <li lang="android"><a href="{{ site.dce-enums }}enum-1.html?lang=android" class="otherLinkColour">Enumerations</a></li>
            </ul>
        </li>
        <li lang="android"><a href="{{ site.android-release-note }}" class="otherLinkColour">Release Notes</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.android-release-note }}release-notes-2.x.html" class="otherLinkColour">Version 2.x</a></li>
                <li lang="android"><a href="{{ site.android-release-note }}release-notes-1.x.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>
