<li lang="objectivec-swift" class="category">DEVELOPMENT ON IOS</li>
<li lang="objectivec-swift"><a href="{{ site.ios-guide }}guide.html" class="otherLinkColour">User Guide</a></li>
<li lang="objectivec-swift"><a href="{{ site.ios }}api-reference.html" class="otherLinkColour">API references</a>
    <ul lang="objectivec-swift">
        <li lang="objectivec-swift"><a href="{{ site.ios-api }}camera-enhancer.html" class="otherLinkColour">DynamsoftCameraEnhancer Class</a></li>
        <li lang="objectivec-swift"><a style="cursor:pointer;color:#3c3c3c">Auxiliary Classes</a>
            <ul lang="objectivec-swift">
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}dceframe.html" class="otherLinkColour">DCEFrame</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}dcecameraview.html" class="otherLinkColour">DCECameraView</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}dcefeedback.html" class="otherLinkColour">DCEFeedback</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}region-definition.html" class="otherLinkColour">iRegionDefinition</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift"><a style="cursor:pointer;color:#3c3c3c">Protocols</a>
            <ul lang="objectivec-swift">
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}protocol-dceframelistener.html" class="otherLinkColour">DCEFrameListener</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}protocol-licenselistener.html" class="otherLinkColour">DCELicenseVerificationListener</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}protocol-dcephotolistener.html" class="otherLinkColour">DCEPhotoListener</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift" ><a style="cursor:pointer;color:#3c3c3c">Enumerations</a>
            <ul lang="objectivec-swift" >
                <li lang="objectivec-swift" ><a href="{{ site.dce-enums }}camera-position.html?lang=objc,swift" class="otherLinkColour">EnumCameraPosition</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.dce-enums }}camera-state.html?lang=objc,swift" class="otherLinkColour">EnumCameraState</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.dce-enums }}enhanced-features.html?lang=objc,swift" class="otherLinkColour">EnumEnhancerFeature</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.dce-enums }}video-frame-quality.html?lang=objc,swift" class="otherLinkColour">EnumFrameQuality</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.dce-enums }}resolution.html?lang=objc,swift" class="otherLinkColour">EnumResolution</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.dce-enums }}error-code.html?lang=objc,swift" class="otherLinkColour">Error Code Reference</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="objectivec-swift" class="category">USEFUL RESOURCES</li>
<li lang="objectivec-swift"><a href="{{ site.ios-release-note }}" class="otherLinkColour">Release Notes</a>
    <ul lang="objectivec-swift">
        <li lang="objectivec-swift"><a href="{{ site.ios-release-note }}release-notes-2.x.html" class="otherLinkColour">Version 2.x</a></li>
        <li lang="objectivec-swift"><a href="{{ site.ios-release-note }}release-notes-1.x.html" class="otherLinkColour">Version 1.x</a></li>
    </ul>
</li>
