<li><a href="{{ site.android }}" class="otherLinkColour">Android</a>
    <ul>
        <li lang="android" ><a style="cursor:pointer;color:#3c3c3c">User Guide</a>
            <ul>
                <li><a href="{{ site.android-guide }}guide.html" class="otherLinkColour">Get Started</a></li>
                <li><a style="cursor:pointer;color:#3c3c3c">Exploring Features</a>
                    <ul>
                        <li><a href="{{ site.android-guide }}features.html" class="otherLinkColour">Advanced Features</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.android }}api-reference.html" class="otherLinkColour">API references</a>
            <ul>
                <li><a href="{{ site.android-api }}camera-enhancer.html" class="otherLinkColour">CameraEnhancer Class</a></li>
                <li><a style="cursor:pointer;color:#3c3c3c">Auxiliary Classes</a>
                    <ul>
                        <li><a href="{{ site.android-api-auxiliary }}dcecameraview.html" class="otherLinkColour">DCECameraView</a></li>
                        <li><a href="{{ site.android-api-auxiliary }}dcefeedback.html" class="otherLinkColour">DCEFeedback</a></li>
                        <li><a href="{{ site.android-api-auxiliary }}dceframe.html" class="otherLinkColour">DCEFrame</a></li>
                        <li><a href="{{ site.android-api-auxiliary }}region-definition.html" class="otherLinkColour">RegionDefinition</a></li>
                        <li><a href="{{ site.android-api-auxiliary }}camera-enhancer-exception.html" class="otherLinkColour">CameraEnhancerException</a></li>
                    </ul>
                </li>
                <li><a style="cursor:pointer;color:#3c3c3c">Interfaces</a>
                    <ul>
                        <li><a href="{{ site.android-api-auxiliary }}interface-dcecamerastatelistener.html" class="otherLinkColour">DCECameraStateListener</a></li>
                        <li><a href="{{ site.android-api-auxiliary }}interface-dceframelistener.html" class="otherLinkColour">DCEFrameListener</a></li>
                        <li><a href="{{ site.android-api-auxiliary }}interface-licenselistener.html" class="otherLinkColour">DCELicenseVerificationListener</a></li>
                        <li><a href="{{ site.android-api-auxiliary }}interface-dcephotolistener.html" class="otherLinkColour">DCEPhotoListener</a></li>
                    </ul>
                </li>
                <li lang="android" ><a style="cursor:pointer;color:#3c3c3c">Enumerations</a>
                    <ul lang="android" >
                        <li lang="android" ><a href="{{ site.mobile-enum }}enum-camera-position.html?lang=android" class="otherLinkColour">EnumCameraPosition</a></li>
                        <li lang="android" ><a href="{{ site.mobile-enum }}enum-camera-state.html?lang=android" class="otherLinkColour">EnumCameraState</a></li>
                        <li lang="android" ><a href="{{ site.mobile-enum }}enum-enhancer-features.html?lang=android" class="otherLinkColour">EnumEnhancerFeature</a></li>
                        <li lang="android" ><a href="{{ site.mobile-enum }}enum-focus-mode.html?lang=android" class="otherLinkColour">EnumFocusMode</a></li>
                        <li lang="android" ><a href="{{ site.mobile-enum }}enum-frame-quality.html?lang=android" class="otherLinkColour">EnumFrameQuality</a></li>
                        <li lang="android" ><a href="{{ site.mobile-enum }}enum-resolution.html?lang=android" class="otherLinkColour">EnumResolution</a></li>
                        <li lang="android" ><a href="{{ site.mobile-enum }}errorcode-android.html?lang=android" class="otherLinkColour">Error Code Reference</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.android-release-note }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.android-release-note }}release-notes-2.x.html" class="otherLinkColour">Version 2.x</a></li>
                <li><a href="{{ site.android-release-note }}release-notes-1.x.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>
