<li><a href="{{ site.android }}" class="otherLinkColour">Java (Android)</a>
    <ul>
        {%- if page.url contains '/android/' or page.url contains '/android-v' -%}
        <li><a href="{{ site.android-guide }}guide.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.android-api }}initialization.html" class="otherLinkColour">Primary APIs</a>
            <ul>
                <li><a href="{{ site.android-api}}initialization.html" class="otherLinkColour">Initialization</a></li>                                
                <li><a href="{{ site.android-api }}preprocess.html" class="otherLinkColour">Frame Processing Methods</a></li>
                <li><a href="{{ site.android-api }}camera.html" class="otherLinkColour">Regular Camera Methods</a></li>
                <li><a href="{{ site.android-api }}zoom-focus.html" class="otherLinkColour">Focus & Zoom Methods</a></li>               
            </ul>
        </li>
        <li><a href="{{ site.android-api-auxiliary }}" class="otherLinkColour">Auxiliary APIs</a>
            <ul>
                <li><a href="{{ site.android-api-auxiliary }}lts-connection.html" class="otherLinkColour">DMLTSConnectionParameters</a></li>
                <li><a href="{{ site.android-api-auxiliary }}frame.html" class="otherLinkColour">Frame</a></li>
                <li><a href="{{ site.android-api-auxiliary }}hardwareutil.html" class="otherLinkColour">HardwareUtil</a></li>
                <li><a href="{{ site.android-api-auxiliary }}cameraview.html" class="otherLinkColour">CameraView</a></li>
                <li><a href="{{ site.android-api-auxiliary }}camera-enhancer-exception.html" class="otherLinkColour">CameraEnhancerException</a></li>
                <li><a href="{{ site.android-api-auxiliary }}interface.html" class="otherLinkColour">Interface</a></li>
            </ul>
        </li>
        <li><a href="{{ site.android-release-note }}release-note.html" class="otherLinkColour">Release Notes</a></li>
        {%- endif -%}
    </ul>
</li>

<style>
  .auxiliaryAPIClass:after { content: attr(text-content-after); display: inline-block; width: 18px; height: 18px; border-radius: 50%; background:#87CEFA; text-align: center; line-height: 20px; position: absolute; top: 0; left: -8px; font-size: 14px; color: #000; }
  .auxiliaryAPIInterface:after { content: attr(text-content-after); display: inline-block; width: 18px; height: 18px; border-radius: 50%; background:#9ACD32; text-align: center; line-height: 20px; position: absolute; top: 0; left: -8px; font-size: 14px; color: #000; }
</style>
<script>

</script>