<li><a href="{{ site.js }}" class="otherLinkColour">Web (Client Side)</a>
    <ul>
        <li><a class="otherLinkColour">User Guide</a>
            <ul>
                <li><a href="{{ site.js-guide }}index.html" class="otherLinkColour">Get Started</a> </li>
                <li><a class="otherLinkColour">Explore Features</a>
                    <ul>
                        <li><a href="{{ site.js-guide }}features/draw-shapes.html" class="otherLinkColour">Drawing Shapes</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.js-api }}index.html" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.js-api }}initialization.html" class="otherLinkColour">Initialization</a></li>
                <li><a href="{{ site.js-api }}camera-control.html" class="otherLinkColour">Camera Control</a></li>
                <li><a href="{{ site.js-api }}acquisition.html" class="otherLinkColour">Acquisition</a></li>
                <li><a href="{{ site.js-api }}ui.html" class="otherLinkColour">UI</a></li>
                <li><a href="{{ site.js-api }}auxiliary.html" class="otherLinkColour">Auxiliary APIs</a></li>
                <li><a href="{{ site.js-api }}interface/index.html" class="otherLinkColour">Interfaces</a>
                    <ul>
                        <li><a href="{{ site.js-api }}interface/area.html" class="otherLinkColour">Area</a></li>
                        <li><a href="{{ site.js-api }}interface/dceframe.html" class="otherLinkColour">DCEFrame</a></li>
                        <li><a href="{{ site.js-api }}interface/drawinglayer.html" class="otherLinkColour">DrawingLayer</a></li>
                        <li><a href="{{ site.js-api }}interface/drawingitem.html" class="otherLinkColour">DrawingItem</a></li>
                        <li><a href="{{ site.js-api }}interface/drawingstyle.html" class="otherLinkColour">DrawingStyle</a></li>
                        <li><a href="{{ site.js-api }}interface/playcallbackinfo.html" class="otherLinkColour">PlayCallbackInfo</a></li>
                        <li><a href="{{ site.js-api }}interface/point.html" class="otherLinkColour">Point</a></li>
                        <li><a href="{{ site.js-api }}interface/region.html" class="otherLinkColour">Region</a></li>
                        <li><a href="{{ site.js-api }}interface/videodeviceinfo.html" class="otherLinkColour">VideoDeviceInfo</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.js }}release-note/index.html" class="otherLinkColour">Release Notes</a>
        </li>
    </ul>
</li>