<li lang="objectivec-swift" class="category">DEVELOPMENT ON IOS</li>
<li lang="objectivec-swift" ><a style="cursor:pointer;color:#3c3c3c">User Guide</a>
    <ul lang="objectivec-swift">
        <li lang="objectivec-swift"><a href="{{ site.ios-guide }}guide.html" class="otherLinkColour">Get Started</a></li>
        <li lang="objectivec-swift"><a style="cursor:pointer;color:#3c3c3c">Explore Features</a>
            <ul lang="objectivec-swift">
                <li lang="objectivec-swift"><a href="{{ site.ios-guide }}features.html" class="otherLinkColour">Advanced Features</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="objectivec-swift"><a href="{{ site.ios}}api-reference.html" class="otherLinkColour">API references</a>
    <ul lang="objectivec-swift">
        <li lang="objectivec-swift"><a style="cursor:pointer;color:#3c3c3c">Primary Class</a>
            <ul lang="objectivec-swift">
                <li lang="objectivec-swift"><a href="{{ site.ios-api-primary }}CameraEnhancer.html" class="otherLinkColour">DSCameraEnhancer</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift"><a style="cursor:pointer;color:#3c3c3c">View Classes</a>
            <ul lang="objectivec-swift">
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}CameraView.html" class="otherLinkColour">DSCameraView</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}ImageEditorView.html" class="otherLinkColour">DSImageEditorView</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift"><a style="cursor:pointer;color:#3c3c3c">Auxiliary Classes</a>
            <ul lang="objectivec-swift">
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}camera-enhancer-exception.html" class="otherLinkColour">DSCameraEnhancerException</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}camera-enhancer-module.html" class="otherLinkColour">DSCameraEnhancerModule</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}capabilities.html" class="otherLinkColour">DSCapabilities</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}drawing-item.html" class="otherLinkColour">DSDrawingItem</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}line-drawing-item.html" class="otherLinkColour">DSLineDrawingItem</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}quad-drawing-item.html" class="otherLinkColour">DSQuadDrawingItem</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}rect-drawing-item.html" class="otherLinkColour">DSRectDrawingItem</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}text-drawing-item.html" class="otherLinkColour">DSTextDrawingItem</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}drawing-layer.html" class="otherLinkColour">DSDrawingLayer</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}drawing-style.html" class="otherLinkColour">DSDrawingStyle</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}drawing-style-manager.html" class="otherLinkColour">DSDrawingStyleManager</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}feedback.html" class="otherLinkColour">DSFeedback</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}note.html" class="otherLinkColour">DSNote</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}tip-config.html" class="otherLinkColour">DSTipConfig</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift"><a style="cursor:pointer;color:#3c3c3c">Protocols</a>
            <ul lang="objectivec-swift">
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}camera-state-listener.html" class="otherLinkColour">DSCameraStateListener</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}photo-listener.html" class="otherLinkColour">DSPhotoListener</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios-api-auxiliary }}video-frame-listener.html" class="otherLinkColour">DSVideoFrameListener</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift" ><a style="cursor:pointer;color:#3c3c3c">Enumerations</a>
            <ul lang="objectivec-swift" >
                <li lang="objectivec-swift" ><a href="{{ site.dce-enums }}camera-position.html?lang=objc&swift" class="otherLinkColour">DSCameraPosition</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.dce-enums }}camera-state.html?lang=objc&swift" class="otherLinkColour">DSCameraState</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.dce-enums }}coordinate-base.html?lang=objc&swift" class="otherLinkColour">DSCoordinateBase</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.dce-enums }}drawing-item-media-type.html?lang=objc&swift" class="otherLinkColour">DSDrawingItemMediaType</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.dce-enums }}drawing-item-state.html?lang=objc&swift" class="otherLinkColour">DSDrawingItemState</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.dce-enums }}enhanced-features.html?lang=objc&swift" class="otherLinkColour">DSEnhancedFeatures</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.dce-enums }}focus-mode.html?lang=objc&swift" class="otherLinkColour">DSFocusMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.dce-enums }}resolution.html?lang=objc&swift" class="otherLinkColour">DSResolution</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.core-enums }}error-code.html?lang=objc&swift" class="otherLinkColour">DSErrorCode</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="objectivec-swift" class="category">USEFUL RESOURCES</li>
<li lang="objectivec-swift"><a href="{{ site.ios-release-note }}" class="otherLinkColour">Release Notes</a>
    <ul lang="objectivec-swift">
        <li lang="objectivec-swift"><a href="{{ site.ios-release-note }}release-notes-4.x.html" class="otherLinkColour">Version 4.x</a></li>
        <!-- <li lang="objectivec-swift"><a href="{{ site.ios-release-note }}release-notes-3.x.html" class="otherLinkColour">Version 3.x</a></li> -->
        <li lang="objectivec-swift"><a href="{{ site.ios-release-note }}release-notes-2.x.html" class="otherLinkColour">Version 2.x</a></li>
        <li lang="objectivec-swift"><a href="{{ site.ios-release-note }}release-notes-1.x.html" class="otherLinkColour">Version 1.x</a></li>
    </ul>
</li>