<li><a href="{{ site.android }}" class="otherLinkColour">Java (Android) & Kotlin</a>
    <ul>
        <li><a href="{{ site.android-guide }}guide.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.android }}api-reference.html" class="otherLinkColour">API references</a>
            <ul>
                <li><a style="cursor:pointer;color:#3c3c3c">CameraEnhancer Class</a>
                    <ul>
                        <li><a href="{{ site.android-api }}initialization.html" class="otherLinkColour">Initialization</a></li>                                
                        <li><a href="{{ site.android-api }}preprocess.html" class="otherLinkColour">Frame Processing Methods</a></li>
                        <li><a href="{{ site.android-api }}camera.html" class="otherLinkColour">Regular Camera Methods</a></li>
                        <li><a href="{{ site.android-api }}zoom-focus.html" class="otherLinkColour">Focus & Zoom Methods</a></li>               
                    </ul>
                </li>
                <li><a style="cursor:pointer;color:#3c3c3c">Auxiliary Classes</a>
                    <ul>
                        <li><a href="{{ site.android-api-auxiliary }}dls-connection.html" class="otherLinkColour">DMLTSConnectionParameters</a></li>
                        <li><a href="{{ site.android-api-auxiliary }}dceframe.html" class="otherLinkColour">Frame</a></li>
                        <li><a href="{{ site.android-api-auxiliary }}hardwareutil.html" class="otherLinkColour">HardwareUtil</a></li>
                        <li><a href="{{ site.android-api-auxiliary }}dcecameraview.html" class="otherLinkColour">CameraView</a></li>
                        <li><a href="{{ site.android-api-auxiliary }}camera-enhancer-exception.html" class="otherLinkColour">CameraEnhancerException</a></li>
                    </ul>
                </li>
                <li><a style="cursor:pointer;color:#3c3c3c">Interfaces</a>
                    <ul>
                        <li><a href="{{ site.android-api-auxiliary }}interface-dceframelistener.html" class="otherLinkColour">CameraListener</a></li>
                        <li><a href="{{ site.android-api-auxiliary }}interface-torchlistener.html" class="otherLinkColour">TorchListener</a></li>
                        <li><a href="{{ site.android-api-auxiliary }}interface-licenselistener.html" class="otherLinkColour">CameraLTSLicenseVerificationListener</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.android-release-note }}release-note.html" class="otherLinkColour">Release Notes</a></li>
    </ul>
</li>
