<li><a href="{{ site.ios }}" class="otherLinkColour">iOS</a>
    <ul>
        <li><a href="{{ site.ios-guide }}guide.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.ios }}api-reference.html" class="otherLinkColour">API references</a>
            <ul>
                <li><a href="{{ site.ios-api }}camera-enhancer.html" class="otherLinkColour">DynamsoftCameraEnhancer Class</a></li>
                <li><a style="cursor:pointer;color:#3c3c3c">Auxiliary Classes</a>
                    <ul>
                        <li><a href="{{ site.ios-api-auxiliary }}dceframe.html" class="otherLinkColour">DCEFrame</a></li>
                        <li><a href="{{ site.ios-api-auxiliary }}dcecameraview.html" class="otherLinkColour">DCECameraView</a></li>
                        <li><a href="{{ site.ios-api-auxiliary }}dcefeedback.html" class="otherLinkColour">DCEFeedback</a></li>
                        <li><a href="{{ site.ios-api-auxiliary }}region-definition.html" class="otherLinkColour">iRegionDefinition</a></li>
                    </ul>
                </li>
                <li><a style="cursor:pointer;color:#3c3c3c">Protocols</a>
                    <ul>
                        <li><a href="{{ site.ios-api-auxiliary }}protocol-dceframelistener.html" class="otherLinkColour">DCEFrameListener</a></li>
                        <li><a href="{{ site.ios-api-auxiliary }}protocol-dcephotolistener.html" class="otherLinkColour">DCEPhotoListener</a></li>
                        <li><a href="{{ site.ios-api-auxiliary }}protocol-licenselistener.html" class="otherLinkColour">DCELicenseVerificationListener</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.ios-release-note }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.ios-release-note }}release-notes-2.x.html" class="otherLinkColour">Version 2.x</a></li>
                <li><a href="{{ site.ios-release-note }}release-notes-1.x.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>
